.container {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(10,1fr);
}

#navbar {
  grid-column-end: span 5;
}

#sidebar {
  writing-mode: vertical-rl;
  grid-row-end: span 8;

}

#title {
  grid-column-end: span 4;
}


#content {
  grid-column-end: span 4;
  grid-row-end: span 7;
}

#footer {
  grid-column-end: span 5;
}


/*LEVEL FIVE*/
/*
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(10,1fr);
}

#navbar {
  grid-column-end: span 5;
}

#sidebar {
  writing-mode: vertical-rl;
  grid-row-end: span 7;
  grid-column-end: span 1;

}

#title {
  grid-column-end: span 4;
}


#content {
  grid-column-end: auto;
  grid-row-end: span 6;
}

#footer {
  grid-column-end: span 5;
}
*/